node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
.DS_Store
giffer-431700-1e14fe34cfb4.json
giffer-431700-ee82365796e0.json
.turbo
out
*/**dist
packages/db/dist/
